.connectwithstrava {
  display: inline-block;
  background: url('./btn_strava_connectwith_orange.svg') no-repeat center center;
  width: 193px;
  height: 48px;
  background-size: cover;
  text-indent: -9999px;
  border: none;
  padding: 0px;
}
